# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Editor configs
.vscode/
.idea/

# Logs
*.log

# Test cache
.pytest_cache/
